dtd/i18n.dtd

<!--
  Copyright (C) Igor Sysoev
  Copyright (C) Nginx, Inc.
  -->

<!ELEMENT  i18n         (text+) >

<!ELEMENT  text         (item+) >
<!ATTLIST  text
           lang         CDATA #REQUIRED
>

<!ELEMENT  item         ANY>
<!ATTLIST  item
           id           CDATA #REQUIRED
>

<!ELEMENT  origin       (#PCDATA) >
